:root {
  --primary-text-color: #212121;
  --accent-text-color: #000000;
  --subtitle-text-color: #757575;
  --footer-bcg: #2f303a;
  --hero-bcg-color: #c4c4c4;
  --accent-color: #2196f3;
  --hover-bcg-btn-color: #188ce8;
  --bcg-team-color: #f5f4fa;
  --primary-white-color: #ffffff;
  --border-header-color: #ececec;
  --border-cards-portfolio: #eeeeee;
  --social-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
