.team {
  padding: 60px 0px;
  @media screen and (min-width: 1200px) {
    padding: 94px 0px;
  }
  background-color: var(--bcg-team-color);
}
.team__title {
  margin-bottom: 30px;
  @include font($fs: 28, $fw: null, $lh: 33);
  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;

    @include font($fs: 36, $fw: null, $lh: 42);
    text-align: center;
  }
}
.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.card-list__wrapper {
  padding: 30px 0px;
}
.card-list__item {
  width: 100%;
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
  background-color: var(--primary-white-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.card-list__name {
  margin-bottom: 10px;

  @include font($fs: 16, $fw: 500, $lh: 19);
  text-align: center;
}
.card-list__info {
  margin-bottom: 16px;

  @include font($fs: 16, $fw: null, $lh: 19);
  text-align: center;
  color: var(--subtitle-text-color);
}
.social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social__items {
  width: 44px;
  height: 44px;
}
.social__items:not(:last-child) {
  margin-right: 10px;
}
.social__link {
  background-color: var(--primary-white-color);
  fill: var(--social-color);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill 250ms var(--timing-function), background-color 250ms var(--timing-function);
  &:hover,
  &:focus {
    fill: var(--primary-white-color);
    background-color: var(--accent-color);
  }
}
